@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap');
@import "tailwindcss";

:root {
  --primary: #ed5726;
  --black: #000000;
  --white: #ffffff;
  --accent: #6f53ca;
  --font-primary: "Bricolage Grotesque", sans-serif
}

html {
  scroll-behavior: smooth;
}


@theme {
  --color-tan: #f6f2e2;
  --color-primary: #ed5726;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-accent: #6f53ca;
  --color-brown: #6c6354;
  --color-gray: #9b9082;
  --color-dark-brown: #413c34;
  --color-light-yellow: #f8f0d5;
  --color-dark-primary: #dd5021;
  --color-dark-tan: #eee1c1;
  --font-primary: "Bricolage Grotesque", sans-serif;
  --font-secondary: "Special Gothic", sans-serif;
}

h1, h2, h3, h4,h5 , h6 {
  font-family: var(--font-primary)
}